{% extends 'blog/base.html' %}
{% load static %}
    {% block title %}
        خانه
    {% endblock title %}

    {% block body %}
        <section class="home">
		<div class="container">
			<div class="row">
					<div class="line transparent little"></div>
					<div class="line top">
						<div>پست ها</div>
					</div>
                {% for post in posts %}
                    <div class="row">
						<article class="col-md-12 article-list">
							<div class="inner">
								<figure>
									<a href="{{ post.get_absolute_url }}">
										<img src="{{ post.image.url }}" alt="Sample Article">
									</a>
								</figure>
								<div class="details">
									<div class="detail">
										<div class="category">
											<a href="{% url 'blog:category-detail' post.category.name %}">
                                                {{ post.category }}
                                            </a>
										</div>
										<div class="time">{{ post.create_date }}</div>
									</div>
									<h1>
                                        <a href="{{ post.get_absolute_url }}">
                                            {{ post.title }}
                                        </a>
                                        {% if user.is_authenticated %}
                                            {% if post.owner == user %}
                                                <a href="{% url 'blog:delete_post' post.id %}" style="color: dodgerblue">
                                                    دیلیت
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </h1>
									<p style="text-align: justify">
										{{ post.text|truncatewords:100 }}
									</p>
									<footer>
										<a class="btn btn-primary more" href="{{ post.get_absolute_url }}">
											<div>ادامه مطلب</div>
											<div><i class="ion-ios-arrow-thin-left"></i></div>
										</a>
									</footer>
								</div>
							</div>
						</article>
                {% endfor %}
						<div class="col-md-12 text-center d-flex justify-content-center">
                                {% include "blog/pagination.html" with page=posts %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    {% endblock body %}