{% extends 'blog/base.html' %}
    {% block title %}
        {{ post.title }}
    {% endblock title %}

    {% block body %}
	<section class="single">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-4 sidebar">
				</div>
				<div class="col-md-12 col-lg-8 float-right">
					<ol class="breadcrumb">
						<li><a href="{% url 'blog:index' %}">خانه</a></li>
					</ol>
					<article class="article main-article mt-5">
						<header>
							<h3 class="pt-0">{{ post.title }}</h3>
							<ul class="details">
								<li>{{ post.create_date }}</li>
								<li><a>{{ post.category.name }}</a></li>
								<li>نویسنده :{{ post.owner.username }}</li>
								<li>{{ post.comments.count }}</li>
							</ul>
						</header>
						<div class="main">
							<p>

                            </p>
							<div class="featured mb-5">
								<figure>
									<img src="{{ post.image.url }}" alt="{{ post.title }}">
									<figcaption></figcaption>
								</figure>
							</div>
							<p style="text-align: justify">
                                {{ post.text }}
							</p>
						</div>
					</article>

					<div class="comments my-5">
						<h2 class="title">نظرات <a href="#comment_new">یک دیدگاه جدید ارسال کنید.</a></h2>
						<div class="comment-list">
							<div class="item">
								<div class="user">
                                {% if comments %}
                                    {% for comment in comments %}
                                            <div class="details">
                                                <h5 class="name">{{ comment.user.username }}</h5>
                                                <div class="time">{{ comment.create_date }}</div>
                                                <div class="description">
                                                    {{ comment.text }}
                                                    {% if user.is_authenticated %}
                                                        {% if comment.user == user %}
                                                            <a href="{% url 'blog:delete_comment' comment.id %}">دیلیت</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <hr>
                                                </div>
                                            </div>
                                    {% endfor %}
                                        {% else %}
                                            <p>دیدگاهی ثبت نشده است.</p>
                                    {% endif %}

								</div>
							</div>
						</div>
                        {% if user.is_authenticated %}
                            <form  class="row" method="POST">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <h3 class="title" id="comment_new">ارسال دیدگاه جدید</h3>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="message">دیدگاه <span class="required"></span></label>
                                    <textarea class="form-control" name="text"
                                        placeholder="دیگاه خود را بنویسید ..."></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class="btn btn-primary float-right">ارسال دیدگاه</button>
                                </div>
                            </form>
                        {% else %}
                            <p class="title">برای ثبت کامنت ابتدا باید وارد شوید.</p>
                    {% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
    {% endblock body %}
